$Roboto_bold:"RobotoMono-Bold";
$Roboto_bolditalic:"RobotoMono-BoldItalic";
$Roboto_Extralight:"RobotoMono-ExtraLight";
$Roboto_ExtralightItalic:"RobotoMono-ExtraLightItalic";
$Roboto_Italic:"RobotoMono-Italic";
$Roboto_light:"RobotoMono-Light";
$Roboto-LightItalic:"RobotoMono-LightItalic";
$Roboto_medium:"RobotoMono-Medium";
$Roboto_mediumItalic:"RobotoMono-MediumItalic";
$Roboto_regular:"RobotoMono-Regular";
$Roboto_semibold:"RobotoMono-SemiBold";
$Roboto_semibolditalic:"RobotoMono-SemiBoldItalic";
$Roboto_thin:"RobotoMono-Thin";
$Roboto_thinitalic:"RobotoMono-ThinItalic";